@model Columns

@{ int columnNumber = (int)ViewData["ColumnID"];}

<div class="panel panel-default BoardColumn" id="@Model.ID">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Name</h3>
    </div>

     <div class="panel-body">
        @foreach (var t in Model.TasksList)
        {
            @Component.Invoke("Task", t)
        }
        <a class="AddTask"> Add a task.... </a>

     </div> 

</div> <!--Pannel Div end -->