@model ColumnModel

@{ int columnNumber = (int)ViewData["ColumnID"];}

<div class="panel panel-default BoardColumn" id="@Model.ColumnID">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.ColumnName</h3>
    </div>

     <div class="panel-body">
        @foreach (var Task in Model.TasksList)
        {
            @Component.Invoke("Task", Task)
        }
        <a class="AddTask"> Add a task.... </a>

     </div> 

</div> <!--Pannel Div end -->