@model Columns


<div class="panel panel-default BoardColumn" id="@Model.ID">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Name</h3>
        <div class="ColumnOptions dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="caret "></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                <li><a href="#" class="DeleteColumnLink">Delete Column</a></li>
                <!--<li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>-->
            </ul>
        </div>

    </div>

    <div class="panel-body">
        @if (Model.TasksList.Count != 0)
        {
            
                @foreach (var t in @Model.TasksList)
                {

                    @Component.Invoke("Task", t)

                }
         
        }
        <a class="AddTask"> Add a task.... </a>

    </div>

</div> <!--Pannel Div end -->