@model Columns


<div class="panel panel-default BoardColumn" id="@Model.ID">
    <div class="panel-heading">
        <h3 class="panel-title">@Model.Name</h3>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#" class="DeleteColumnLink">Delete Column</a></li>
                <!--<li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>-->
            </ul>
        </div>
   
    </div>

    <div class="panel-body">
     @if (Model.TasksList.Count != 0)
     {
         foreach (var t in @Model.TasksList)
          {
              @Component.Invoke("Task", t)
          }
     }
        <a class="AddTask"> Add a task.... </a>

    </div> 

</div> <!--Pannel Div end -->