<div class="EditTaskForm">
    <textarea class="NewTaskContent"> </textarea>
    <div class="FormButtons">
        <a class='EditTaskSubmit'>Save</a>
        <a class='EditTaskCancel'>X</a>
    </div>
   
</div>
