.DS_Store
node_modules
wwwroot/**/*
.idea

#Include 
!wwwroot/lib/
wwwroot

# User-specific files
*.suo
*.user
*.userosscache
*.sln
*.docstates
*.xproj
*appsettings.production.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/


# Visual Studio 2015 cache/options directory
.vs/
.vscode/

# DNX
project.lock.json
artifacts/
web.config

