@import '../Shared/base';

.ui-dialog-title, .ui-dialog-titlebar {
    background-color: $panel-body-color;
}


.ui-dialog {
    background-color: $panel-body-color;
}

.ui-dialog,.ui-dialog,.ui-widget, .ui-widget-content, .ui-corner-all, 
.ui-resizable  {
    background: $panel-body-color;

}