@import '../Shared/base';
@import 'Dialog.scss';

 .TaskWindow {
      margin-left:20px;
 }

 .TaskContent {
        font-size:22px;
        width:100%;
        p {
            font-size:12px;
            display:inline;
        }
}

.EditTaskButton {
    display:block;
}

.EditTaskButton, .TaskContent, .TaskAddLabel{

    &:hover, &:visited, &:link {
        text-decoration:none;
        cursor:pointer;
    }
}

.EditTaskButton, .TaskAddLabel {
        margin-top:20px;
}

.LabelListDiv {
     @include ListStyleNone;
}

.EditTaskForm {
    input {
        display:inline-block;
    }
}

.NewTaskContent {
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
}

.TaskLabelList {
    li {
        div {
            display:inline;
            button {
                display:inline;
            }
        }
        
    }
}

.CommentsDiv {

    .CommentTextArea {
        width:100%;
        margin-bottom: 10px;
    }
    .ColumnFormSubmit {
        display:block;

    }
}

.Comment {

    margin: 20px 0 5px 0;
    border: 3px solid $logo-color;
    border-radius: 15px;
    padding: 8px 8px;
    width: 100%;
    color: $task-font-color;
 
    .CommentName {

        .CommentContent {
            display:inline;
            font-size:12px;
         }
  
    }

    .CommentDate {
        font-size:12px;
        float:right;
        
    }

    

}

.ActiveComment {
    &:hover {
        background-color: #a3c2c2 !important;
        cursor:pointer;
    }
}

.CommentOptions {
     margin: 0 0 0 770px; //Change these numbers to move the pen about in the corner, top,right,bottom,left
     position:absolute;
     cursor:pointer;
}

