
// http://codepen.io/Savantos/pen/mHIpt
@import url(http://fonts.googleapis.com/css?family=Nunito:300);

#rollOverText { 
    text-align: center;   
}

#rollArrow  { 
    font-size: 36px; 
    font-weight: 100; 
    line-height: 75px; 
}

#rollArrow, #rollOverText {
     font-family: "Nunito", sans-serif; font-size: 24px; 
}

//http://codepen.io/gilcrmeli/pen/sdGLn
@import url(http://fonts.googleapis.com/css?family=Sansita+One);

#button {
  background-color:#fff;
}

#curved-green-button {
  position: relative;
  background-color:#ccffcc;
  color: #000000;
  font-family: 'Sansita One', cursive;
  font-size: 26px;
  font-weight: 500;
  
  //margin: 10px auto;
  padding: 20px;
  height: 150px;
  width: 270px;
  text-decoration: none;
  text-transform: capitalize;
  
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  
  -webkit-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
  -moz-box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
  box-shadow: 0px 15px 0px #009933, 0px 10px 25px rgba(0,0,0,.5);
  
  margin: 0px 0px;
  
  border-color: #66ff66;
  border-width: 10px;
  border-radius: 40px 100px 100px 100px;
  padding: 20px;
  
   :active {
        box-shadow: 0px 3px 0px #33CC33, 0px 3px 6px rgba(0,0,0,.9);
        position: relative;
        top: 10px;
    }
}

