@import 'CurvedGreenButton.css';

// My Own
#InitalButton{
    position: relative; 
    margin-top: 10%;
}

#titleScreen {
    margin-top: 10%; 
    text-align: center;
    font-size: 30px;
    color: #ff6666;
    
    h1 {
        font-size: 100px;
    }
    
 }
 
 #boardName {

  border-bottom-color: #ff6666;
  border-bottom-width:3px;
  border-style:none none dashed;
  background: #353535;
 }
 
