.panel-default {
  margin-right: 20px; }
  .panel-default .panel-heading, .panel-default .Task, .panel-default .AddTask {
    cursor: pointer; }
  .panel-default .panel-heading {
    background-color: #D24D57;
    text-align: center; }
  .panel-default .panel-body {
    background-color: #808080;
    min-height: 30%; }
    .panel-default .panel-body .AddTask:hover, .panel-default .panel-body .AddTask:visited, .panel-default .panel-body .AddTask:link {
      text-decoration: none; }

.Task {
  display: block;
  margin-bottom: 20px;
  border: 3px solid #D24D57;
  border-radius: 15px;
  padding: 8px 8px;
  width: 100%;
  color: #000000;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }
  .Task:hover, .Task:visited, .Task:link {
    text-decoration: none;
    color: #000000; }
  .Task:hover {
    background-color: #a3c2c2 !important; }
