{
  "globals": {
    "require": true,
    "exports": true,
	 "alert" : true,
	 "document" : true
  },

  "env" : {
	  "jquery" : true
  },

  "plugins": [
  ],

  "extends": [
    "eslint:recommended"
  ],

  "parser": "babel-eslint",

  "rules": {

  }

}