@import '../Shared/base';
@import 'Panels.scss';
@import 'Forms.scss';

.row {
    margin-top: 1%;
    width: 100%;
}

.BoardColumn {
  /*border-right: 3px solid #f00*/
  float:left;
  width: 20%;
  
}

#AddColumnButton {
    font-size: 20px;
    cursor:pointer;
    color: $logo-color;
    display:inline-block;
    margin-top:1%;
    &:hover, &:visited{
        text-decoration:none;
        color: $logo-color;
    }
}

.EditPen, .EditArrow {
    float:right;
    position:absolute;
    left:100%;
    bottom:100%;
    cursor:pointer;
}

.EditPen {
     margin: 0 0 -48px -29px; //Change these numbers to move the pen about in the corner
}

.dropdown-toggle{
 
}

