@import '../Shared/base';
@import 'Panels.scss';
@import 'Forms.scss';


.row {
    margin-top: 1%;
    width: 100%;
}

.BoardColumn {
  /*border-right: 3px solid #f00*/
  float:left;
  width: 20%;
  
}

.ColumnTitleSumbit {
    display:block;

}

.NewColumnName {
    width:100%;
}

#AddColumnButton {
    font-size: 20px;
    cursor:pointer;
    color: $logo-color;
    display:inline-block;
    margin-top:2%;
    &:hover, &:visited{
        text-decoration:none;
        color: $logo-color;
    }
}



