
// CSS to change the form for when changing the panel name;
.ColumnTitleSubmit, .TaskFormSubmit {
    display:block;
    color: #000000;
}

.NewColumnName, .TaskContent {
    width:100%;
    color: #000000;
}

.ColumnTitleSumbit {
    display:block;

}

.NewColumnName {
    width:100%;
}
