@import '../Shared/base';
$panel-body-color: #808080;
$task-font-color: #000000;

.panel-default {

    margin-right:20px;

   .panel-heading, .Task, .AddTask {
       cursor: pointer;
   }
    
  .panel-heading {
         background-color: $logo-color;
         text-align: center;
    }
    
  .panel-body {
      background-color: $panel-body-color;
      min-height: 30%;

      .Task:hover, .Task:visited, .Task:link {
            text-decoration: none;
            color: $task-font-color;
      }

      .AddTask:hover, .AddTask:visited, .AddTask:link {
           text-decoration: none;
      }


  }
    
}

 .AddTask, .Task {
     display: block;
    margin-bottom:20px;
    border: 3px solid $logo-color;
    border-radius: 15px;
    padding: 20px 8px;
    color: $task-font-color;
 }

.AddTask:hover, .Task:hover {
    background-color: #a3c2c2 !important;

}