@import '../Shared/base';

#MenuColumn{
    float:right;
    display:inline-block;
    border-left: 3px solid $logo-color;
    height:100%;

    ul {
       padding: 0;
       list-style-type: none;
        li {
            list-style-type:none;
            width:100%;
        }
    }

    .btn {
        width:100%;
    }
}

#BlueLabel {
    background-color:blue;
    color: blue;
}

#PurpleLabel {
    background-color:purple;
    color: purple;
}

#GreenLabel {
    background-color:green;
    color: green;
}

#RedLabel {
    background-color:red;
    color: red;
}

#YellowLabel {
    background-color:yellow;
    color: yellow;
}