@{
    ViewData["Title"] = "Home Page";
}

@section  css {
     <link rel="stylesheet" href="~/css/Home/Home.min.css" />
}

@section scripts {
    <script src='~/js/Home.min.js'> </script>
}


<!--
<div id='InitalButton'>
    <br>
    <p id='rollOverText'>Come roll over me...
    <br>
    <sup id='rollArrow'>&darr;</sup></p>

    <div id="button" align="center">
    <button id='curved-green-button' data-action='submit'>
        push the button
    </button>
    </div>
</div>
-->

<div id='titleScreen'>
    <h1> ScrumTool </h1>
    <br>
    <form id='boardForm'>
        <label> What is your board name? </label>
        <br>
        <br>
        <input type='text' name='boardName'>
    </form>
</div>