@{
    ViewData["Title"] = "Home Page";
}

@section  css {
     <link rel="stylesheet" href="~/css/HoverButton.css" />
}

<p id='hoverButtonText'>Come roll over me...<br><sup id='sup'>&darr;</sup></p>
<a href="#" id='hoverButton'>
  <span>Hover Me</span>
</a>