<div class='AddColumnForm'>
    <input name='ColumnName' class='NewColumnName'>
    <div class="FormButtons">
        <a  class='AddColumnSubmit'>Save</a>
        <a  class='AddColumnCancel'>X</a>
    </div>
   
</div>