<div class='AddTaskForm'>
    <textarea class='BoardTaskContentInput'> </textarea>
    <div class="FormButtons">
        <a class='TaskFormSubmit'>Save</a>
        <a class='TaskFormCancel'>X</a>
    </div>
</div>