

<div class='ColumnNameForm'>
    <input class='PreviousColumnName' type='hidden' style='display: none;' />
    <input name='ColumnName' class='NewColumnName' type="text">
    <input type='submit' value='Continue' class='ColumnTitleSubmit'>
</div>