<div class='ColumnNameForm'>
    <input class='PreviousColumnName' type='hidden' style='display: none;' />
    <input name='ColumnName' class='NewColumnName' type="text">
    <div class="FormButtons">
        <a class='ColumnTitleSubmit'>Save</a>
        <a class='ColumnTitleCancel'>X</a>
    </div>
</div>