@{
    
}

@section  css {

    <link rel="stylesheet" href="~/css/Board/Board.css" />
}


@section scripts {
    <script src='~/js/Board.js'> </script>
}
 <!--
<h1>The Board Name is @ViewData["Title"] </h1>
-->   

<div class="row">
    <div class="col-md-11" id="MainColumn">
        
        <div class="panel panel-default BoardColumn">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
             </div>
            <div class="panel-body">
               Panel content
               <h3>Something</h3>
               <h3>Something</h3>

            </div> <!-- Panel Body End -->
        </div> <!--Pannel Div end -->
        
    </div> <!-- Column End Div -->
    
    <div class="col-md-1" id="MenuColumn">
        <h1> Hello World </h1>
        
    </div>
    
</div>

<!--
<table>
    <tr>
        <td id="MainColumn">
            <div class="TaskList">
              
        </td>
        
        
        
        <!--
        <td id="MenuColumn">
        <td>
           
            
    </tr>

</table>
-->