@model BoardModel

@section  css {
    <link rel="stylesheet" href="~/css/Board/Board.css" />
}

@section scripts {
    <script src='~/js/Board.js'> </script>
}
<h1 class="BoardNameHeading">@ViewData["BoardName"] </h1>
<div class="row">

    <div class="col-md-11" id="MainColumn">
        @foreach (var column in Model.ColumnList)
        {
            @Component.Invoke("Panel_Lists",column )
        }
    </div> <!-- Main Column End Div -->

    <div class="col-md-1" id="MenuColumn">
        <h1> Hello World </h1>

    </div> <!-- MenuColumn End -->

</div>