@model Boards

@section  css {
    <link rel="stylesheet" href="~/css/Board/Board.css"/>
    <link rel="stylesheet" href="~/css/Task/Task.css"/>
    <link rel="stylesheet" href="~/css/CustomButtons/SaveButton.css" />
}

@section scripts {
    <script src='~/js/Board.js'> </script>
    <script src='~/js/Task.js'> </script>
}
<h1 class="BoardNameHeading" id="@Model.ID">@Model.Name </h1>
<div class="row">

    <div class="col-md-11" id="MainColumn">
        @if (@Model.ColumnList.Count != 0)
        {
            foreach (var column in Model.ColumnList)
             {
                 @Component.Invoke("Panel_Lists", column)
             }
        }

        <a id="AddColumnButton">Add a List</a>
    </div> <!-- Main Column End Div -->

    <div class="col-md-1" id="MenuColumn">
         <h2> Menu </h2>
         <ul>
             <li>
                 <div class="dropdown">
                     <button class="btn btn-primary dropdown-toggle" type="button" id="LabelDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                         Labels

                     </button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                         <li class="ColourLabel" id="GreenLabel"><a href="#">Green</a></li>
                         <li class="ColourLabel" id="BlueLabel"><a href="#">Blue</a></li>
                         <li class="ColourLabel" id="PurpleLabel"><a href="#">Purple</a></li>
                         <li class="ColourLabel" id="RedLabel"><a href="#">Red</a></li>
                         <li class="ColourLabel" id="YellowLabel"><a href="#">Yellow</a></li>
                         <li class="ColourLabel" id="OrangeLabel"><a href="#">Orange</a></li>
                         <li class="ColourLabel" id="LightBlueLabel"><a href="#">Light Blue</a></li>
                         <li class="ColourLabel" id="PinkLabel"><a href="#">Pink</a></li>
                     </ul>
                 </div>

             </li>
         </ul>
    </div> <!-- MenuColumn End -->

</div>