
@model Boards
@{
    ViewData["Title"] = "Home Page";
}

@section  css {

    <link rel="stylesheet" href="~/css/Home/Home.css" />
}

@section scripts {
    <script src='~/js/Home.js'> </script>
}

<div id='titleScreen'>
    <h1> ScrumTool </h1>
    <br>
    <form id='boardForm' asp-controller="Home" asp-action="SumbitBoardForm" method="POST">

        <label> What is your board name? </label>
        <br>
        <br>
        <input asp-for="Name" id='boardName'> 
        <br>
        <br>   
        <input type="submit" value="Continue" class="boardFormSubmit arrow">
        
    </form>
</div>