@import '../Shared/base';
@import 'Dialog.scss';

 .TaskWindow {
      margin-left:20px;
 }

 .TaskContent {
        font-size:22px;
        width:100%;
        p {
            font-size:12px;
            display:inline;
        }
}

.EditTaskButton {
    display:block;
}

.EditTaskButton, .TaskContent, .TaskAddLabel{

    &:hover, &:visited, &:link {
        text-decoration:none;
        cursor:pointer;
    }
}

.EditTaskButton, .TaskAddLabel {
        margin-top:20px;
}

.LabelListDiv {
     @include ListStyleNone;
}

.EditTaskForm {
    input {
        display:inline-block;
    }
}

.NewTaskContent {
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
}

.TaskLabelList {
    li {
        div {
            display:inline;
            button {
                display:inline;
            }
        }
        
    }
  
}
