@import '../Shared/base';
@import 'Dialog.scss';

 .TaskWindow {
      margin-left:20px;
 }

 .TaskContent {
     
       /* border: 3px solid $logo-color ;
        border-radius: 15px ; */
       white-space: pre-wrap;
        padding-left:30px;
        padding-right:80%;
        font-size:20px;
        width:100%;
}

.EditTaskButton {
    display:block;
}

.EditTaskButton, .TaskContent, .TaskAddLabel{

    &:hover, &:visited, &:link {
        text-decoration:none;
        cursor:pointer;
    }
}

.EditTaskButton, .TaskAddLabel {
        margin-top:20px;
}

.LabelListDiv {
     @include ListStyleNone;
}

.EditTaskForm {
    input {
        display:inline-block;
    }
}

.NewTaskContent {
  
  margin:5px 0;
  padding:3px;
  resize: none; 

}
