@import '../Shared/base';
@import 'Dialog.scss';

 .TaskWindow {
      margin-left:20px;
 }

 .TaskContent {
     
        border: 3px solid $logo-color ;
        border-radius: 15px ;
        padding-left:30px;
        padding-right:80%;
        font-size:20px;
        width:100%;
}

.EditTaskContent {
    display:block;
}

.EditTaskContent, .TaskContent, .TaskAddLabel{

    &:hover, &:visited, &:link {
        text-decoration:none;
        cursor:pointer;
    }
}

.EditTaskContent, .TaskAddLabel {
        margin-top:20px;
}

.LabelListDiv {
     @include ListStyleNone;

}
