
<div  id='navbar-Buttons'> 
    
        <li class="col-md-3 col-sm-3 col-xs-6"> 
            <a href="#" class="btn btn-sm animated-button victoria-one">Sign up</a> 
        </li>
        
        <li class="col-md-3 col-sm-3 col-xs-6"> 
            <a href="#" class="btn btn-sm animated-button victoria-two">Login</a> 
        </li>
        
        <!--
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <a href="#" class="btn btn-sm animated-button victoria-three">Register</a> 
        </div> 
        -->
        
        <!--
        <div class="col-md-3 col-sm-3 col-xs-6"> 
            <a href="#" class="btn btn-sm animated-button victoria-four">Learn more</a> 
        </div>
        -->
        
 
 </div>