<div class="EditTaskForm">
    <textarea class="NewTaskContent"> </textarea>
    <input type='submit' value='Continue' class='EditTaskSubmit'>
    <input type='button' value='Cancel' class='EditTaskCancel'>
</div>
