@model Tasks

<div class="TaskWindow">
    <h5 id='TaskContent'>
        @Model.TaskContent
        <a id='TaskColumnName'>in list @Model.ColumnName</a>
    </h5>

    <a>Edit Task Content....</a>

    <h3>Labels</h3>
</div>

