@model Tasks

<div class="TaskWindow" id="@Model.ID">
        <a class='TaskContent'>
            @Model.TaskContent
        </a>


    <a class="EditTaskContent">Edit Task Content....</a>

    <h3>Labels</h3>
    <div class="LabelListDiv">

            <ul>
                @foreach (var label in Model.LabelList)
                {
                   @Component.Invoke("Label", label)
                }
            </ul>

    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="TaskAddLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Add A label
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li class="TaskColourLabel" id="GreenLabel"><a href="#">Green</a></li>
            <li class="TaskColourLabel" id="BlueLabel"><a href="#">Blue</a></li>
            <li class="TaskColourLabel" id="PurpleLabel"><a href="#">Purple</a></li>
            <li class="TaskColourLabel" id="RedLabel"><a href="#">Red</a></li>
            <li class="TaskColourLabel" id="YellowLabel"><a href="#">Yellow</a></li>
            <li class="TaskColourLabel" id="OrangeLabel"><a href="#">Orange</a></li>
            <li class="TaskColourLabel" id="LightBlueLabel"><a href="#">Light Blue</a></li>
            <li class="TaskColourLabel" id="PinkLabel"><a href="#">Pink</a></li>
        </ul>
    </div>

    <div class="TaskDateDiv">

    </div>
</div>

